{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <div class="form-container">
    <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} Topic</h1>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'newspaper:topics-list' %}" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
